*{
    margin: 0;
    padding: 0;
}

main{
    padding-left: 5%;
    padding-right: 5%;
}

.padding{
    padding-left: 5%;
    padding-right: 5%;
}

#icono-boostrap{
    display: flex;
    float: right;
    color: lightseagreen;
    margin-right: 3%;
}


.text-carrusel{
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-carrusel h5{
    color: lightseagreen;
    font-size: 30px;
}


.conteiner-ipad{
    margin-top: 5%;
    background-image: url(../assets/img/ft-ipads.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.conteiner-ipad h4{
    color: rgb(215, 185, 242);
    margin-top: 4%;
    font-size: 30px;
}

.conteiner-ipad h5{
    margin-top: 0.5%;
    color: rgb(215, 189, 237);
    font-size: 20px;
}

.conteiner-ipad button{
    margin-top: 1%;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:rgb(215, 185, 242);
}

.conteiner-ipad button a{
    text-decoration: none;
    color: white;
}

.video{
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 10%;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 10%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

iframe{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;
}

.line{
    width: 100%;
    height: 5px;
    background-color: lightseagreen;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border: none;
    overflow: hidden; 
    transition: transform 0.3s; 
}

.animated-card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    padding: 5%;
    width: 100%;
    height: auto;
}

.text-promax-cards h5{
    margin-top: 7%;
    margin-bottom: 4%;
    color: lightseagreen;
    font-size: 30px;
}

.card-title {
    font-size: 20px;
    margin-top: 10%;
}

#container-cards{
    margin-bottom: 4%;
}

#container-cards img{
    width: 100%;
    height: 230px;
}

#top-cards{
    margin-bottom: 4%;
}

.buscador-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 7%;
    border-radius: 20px;
    height: 250px;
}

.buscar{
    color: lightseagreen;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 35px;
}

.buscador-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    height: 50px;
}

.buscador-boton {
    margin-top: 2%;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:lightseagreen ;
    color: white;
    cursor: pointer;
    width: 45%;
    transition: background-color 2s;
}

.buscador-boton:hover {
    background-color: rgb(25, 133, 127);
}


#pie{
    padding-top: 2%;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    column-gap: 35%;
}
.elem-pie{
    list-style: none;
}

.info-pie{
    color: lightseagreen;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    transition: color 1s;
}
.info-pie:hover{
    color:  black;
}

.icono-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.elemen-icono{
    list-style: none;
}

.icono{
    color: lightseagreen;
    font-size: 32px;
    display: inline-block;
    margin: 0 20px;
    transition: color 1s, transform 1s;
}

.icono:hover{
    transform: translateY(-10px);
    color:  black;
}

#copyright{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightseagreen;
}

@media (max-width: 767px) and (min-width: 320px){
    #menu-pie{
        flex-direction: column;
    }
}